doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css", integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        link(rel="stylesheet", href="css/main.css")
        title Affilite
    body 
        
        header.header
            .container
                .row
                    .col-lg-2.col-6
                        .header__logo
                            a.logo(href="/")
                                img(src="image/logo.png", alt="logo")
                    .col-lg-8.d-none.d-lg-block
                        .header__menu
                            nav.menu
                                ul.menu__block
                                    li.menu__item
                                        a.menu__link(href="#") 
                                            i.fa-brands.fa-twitter
                                            | Pages
                                    li.menu__item
                                        a.menu__link(href="#")
                                            i.fa-brands.fa-twitter
                                            | Pages
                                    li.menu__item
                                        a.menu__link(href="#")
                                            i.fa-brands.fa-twitter
                                            | Pages
                                    li.menu__item
                                        a.menu__link(href="#")
                                            i.fa-brands.fa-twitter
                                            | Pages
                                    li.menu__item
                                        a.menu__link(href="#")
                                            i.fa-brands.fa-twitter
                                            | Pages
                    .col-lg-2.col-6
                        .header__info
                            .auth
                                a(href="#") Sign up
                            .mobile.d-block.d-lg-none
                                button(data-bs-target="#menu" data-bs-toggle="offcanvas")
                                    i.fa-solid.fa-bars
                .header__canvas.offcanvas.offcanvas-start#menu
                    a.logo.logo-mobile(href="/")
                        img(src="image/logo.png", alt="logo")
                    nav.menu.menu-mobile
                        ul.menu__block
                            li.menu__item
                                a.menu__link(href="#") 
                                    i.fa-brands.fa-twitter
                                    |Pages
                            li.menu__item
                                a.menu__link(href="#") Pages
                            li.menu__item
                                a.menu__link(href="#") Pages
                            li.menu__item
                                a.menu__link(href="#") Pages
                            li.menu__item
                                a.menu__link(href="#") Pages

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js", integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V", crossorigin="anonymous")